#koszyk {
    position: relative;
    cursor: pointer;
}
.koszyk-lista {
    position: absolute;
    top: 100%;
    right: 0;
    width: 400px;
    max-height: 400px;
    z-index: 40;
    border-radius: 0;
    overflow: hidden;
}
.card-header span{
    margin-right: 5px;
}
.koszyk-lista-dan {
    overflow: auto;
}

@media screen and (max-width: 400px) {
    .koszyk-lista{
        width: 100%;
    }
}