.main {
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img {
    width: 100%;
}
#mapa {
    width: 400px;
    height: 400px;
    border: 2px dashed blue;
    border-radius: 15px;

    box-shadow: 4px 6px 18px 5px #ccc;
}

#dol {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    width: 100%;
}
#kontakt{
    margin: 10px;
    padding: 40px;
    border: 2px dashed blue;
    border-radius: 15px;
    box-shadow: 4px 6px 18px 5px #ccc;
}